$color-primary-solid-100: #33B074;
$color-primary-alpha-100: #43FEA4AB;

$color-disabled-100: #0F2E22;
$color-border-100: #B5B3AD;

$color-foreground-100: #B6ECF7;

$color-white-100: #FFFFFFF2;
$color-white-200: #FFFFFFE5;
$color-black-100: #000000F2;
$color-black-200: #000000E5;
